@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Raleway&family=Recursive:wght@300;400;500&display=swap");

body {
  font-family: "Josefin Sans";
  background-color: #fffafb;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.detail-image {
  width: 729px;
  height: 720px;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}
.detail-image:hover {
  transform: scale(1.1, 1.1);
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
}

.exercise-card {
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  background: #fff;
  height: fit-content;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 6px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.exercise-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #ff2625 !important;
  border: 1px solid #ff2625 !important;
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 100px;
  }
}
